
body, a, div, header, footer, nav, ul, li, p, button{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
}

body, button{
    font-family: "microsoft Yahei";
}
.clear{
    clear: both;
}
.opacity0{
    opacity: 0;
    transition: opacity .4s;
}
.opacity1{
    opacity: 1;
    transition: opacity .4s;
}





/*-----------header部分-------------------------------------------*/

header{
    height: 712px;
    /*background-color: antiquewhite;*/
    position: relative;
    border-bottom: solid 1px #eaecee;
}
.nav{
    width: 100%;
    height: 35px;
    /*background-color: aqua;*/
    padding-top: 40px;
    position: absolute;
    top: 0px;
    z-index: 99;
}
.nav div:first-child{
    max-width: 980px;
    height: 36px;
    /*background-color: cadetblue;*/
    margin: 0px auto;
}
.nav img, .nav-float img{
    height: 36px;
    float: left;
    margin-left: 10px;
}
.nav ul, .nav-float ul{
    height: 36px;
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin-left: 30px;
}
.nav ul li, .nav-float ul li{
    float: left;
    margin: 0px 15px;

}
.nav ul li a, .nav-float ul li a{
    color: rgba(255, 255, 255, .7);
    transition: color 0.2s ease-in;
}
.nav ul li a:hover, .nav-float ul li a:hover{
    color: #fff;
    transition: color 0.1s ease-in;
}
.nav span, .nav-float span{
    height: 34px;
    line-height: 34px;
    color: rgba(215, 230, 248, .6);
    padding: 0px 7px;
    margin: 0px 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    float: right;
    transition: color .2s ease-in, border .2s ease-in;
    cursor: pointer;
}
.nav span:hover, .nav-float span:hover{
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: color .1s ease-in, border .2s ease-in;
}

.nav-float{
    display: none;
    opacity: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding-top: 15px;
    position: fixed;
    top: 0px;
    z-index: 99;
    box-shadow: 0px 0px 5px #cccccc;
}
.nav-float div:first-child{
    max-width: 980px;
    height: 50px;
    margin: 0px auto;
}
.nav-float ul li a{
    color: #96989b;
}
.nav-float ul li a:hover{
    color: #2d3238;
}
.nav-float span{
    color: #96989b;
}
.nav-float span:hover {
    color: #2d3238;
    border-color: #2d3238;
}


/* nav @media 750 ------------------------*/
.nav-750{
    display: none;
    width: 100%;
    height: 35px;
    position: absolute;
    top: 0px;
    z-index: 100;
}
.nav-750 img{
    height: 40px;
    padding-top: 14px;
    margin-left: 10px;
}
.span-3{
    width: 25px;
    float: right;
    margin-top: 18px;
    margin-right: 12px;
    cursor: pointer;
}
.span-3 span{
    display: block;
    width: 25px;
    height: 4px;
    /*float: left;*/
    background-color: #ffffff;
    margin: 4px 0px;
}
.menu{
    width: 100%;
    height: 430px;
    background-color: #2d3237;
    z-index: 100;
    position: absolute;
    top: 0px;
    display: none;
    opacity: 0;
}
.menu ul li{
    color: #808386;
    font-size: 17px;
    font-weight: 500;
    margin: 22px 14px 28px;
    cursor: pointer;
    transition: color 0.2s;
}
.menu ul li:hover{
    color: #909396;
    transition: color 0.1s;
}
.menu hr{
    height: 0px;
    border-color: #54585c;
    margin: 0px;
}
.menu i{
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 26px;
    right: 16px;
    cursor: pointer;
}




/* background -----------------------------*/
#background1{
    height: 600px;
    background: url('../res/bg1.jpg');
    background-position: center;
    background-size: cover;
    z-index: 9;
}
#background1 .black{
    height: 600px;
    background-color: rgba(0, 0, 0, .2);
}
#background1 p.text1{
    text-align: center;
    margin-top: 60px;
}
#background1 p.text3{
    text-align: center;
    margin-top: 30px;
}
#background1 p~div{
    width: 425px;
    margin: 70px auto;
}
#background1 a{
    margin: 0px 20px;
}


#background2{
    height: 600px;
    background: linear-gradient(to right bottom,#4987E3,#4F97E4,#62C6EA);
}
#background2>.content>div{
    display: inline-block;
    width: 400px;
    margin-left: 80px;
}
#background2 p.text0{
    margin: 20px 0px;
}
#background2 p.text2{
    width: 300px;
    margin-bottom: 50px;
}
#background2 img{
    max-width: 340px;
    float: right;
    margin: 46px 50px 0px 0px;
}


#background3{
    height: 600px;
    background-color: #4187db;
}
#background3 .bg-img{
    height: 600px;
    background: url("../res/bg.png");
    background-size: cover;
}
#background3 img{
    width: 290px;
    margin-left: 50px;
    float: left;
}
#background3 .content>div{
    width: 360px;
    float: left;
    margin-left: 90px;
}
#background3 p.text3{
    margin: 30px 0px 50px;
}


header>ul{
    width: 100%;
    height: 600px;
}
header>ul>li{
    width: 100%;
    position: absolute;
}



/* dots & arrows----------------*/
.turn-left{
    width: 60;
    height: 140px;
    font-family: Simsun;
    font-size: 60px;
    font-weight: 100;
    line-height: 140px;
    color: #d1d8e2;
    cursor: pointer;
    z-index: 99;
    position: absolute;
    top: 200px;
    left: 5px;
}
.turn-right{
    width: 60;
    height: 140px;
    font-family: Simsun;
    font-size: 60px;
    font-weight: 100;
    line-height: 140px;
    color: #d1d8e2;
    cursor: pointer;
    z-index: 99;
    position: absolute;
    top: 200px;
    right: 5px;
}
.turn-left:hover, .turn-right:hover{
    color: #fff;
}
#dots{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 100px;
    z-index: 99;
}
#dots ul{
    width: 100px;
    height: 30px;
    margin: 0px auto;
}
#dots ul li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d0d9e3;
    float: left;
    margin: 2px 13px;
    cursor: pointer;
}
#dots ul li:hover, #dots ul li.selected{
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 0px 11px;
}


/* header 通用--------------------*/
.content{
    max-width: 980px;
    height: 300px;
    /*background-color: rgba(0, 0, 0, .4);*/
    margin: 0px auto;
    padding-top: 170px;
}
.text0{
    font-size: 50px;
    color: #fff;
}
.text1{
    font-size: 42px;
    color: #fff;
}
.text2{
    font-size: 26px;
    font-weight: lighter;
    color: #fff;
}
.text3{
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
}
.btn-blue{
    font-size: 18px;
    color: #ffffff;
    background-color: #4187db;
    padding: 13px 31px;
    border-radius: 5px;
    transition: all .2s;
}
.btn-blue:hover{
    color: #4187db;
    background-color: #ffffff;
    transition: all .2s;
}
.btn{
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 30px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: all .2s;
}
.btn:hover{
    color: #4187db;
    background-color: #ffffff;
    transition: all .2s;
}


/* 统计数据-----------------------*/
#statistics{
    width: 100%;
    position: absolute;
    bottom: 12px;
}
#statistics div:first-child{
    max-width: 980px;
    height: 100px;
    margin: 0px auto;
}
.count{
    width: 33%;
    height: 100px;
    color: #8796A8;
    float: left;
}
.count-number{
    font-size: 34px;
    text-align: center;
    padding: 23px 0px 8px;
}
.count-text{
    font-size: 14px;
    text-align: center;
}




/*内容部分---------------------------------------------*/

#container{
    max-width: 980px;
    margin: 0px auto;
}
.process{
    width: 100%;
    height: 420px;
    border-bottom: solid 1px #eaecee;
    display: table;
    position: relative;
}
.process-last{
    width: 100%;
    height: 420px;
    display: table;
    position: relative;
}
.content-text{
    width: 40%;
    display: table-cell;
    vertical-align: middle;
}
.right-img{
    width: 100%;
    margin: 61px 0px;
}
.left-img{
    width: 100%;
    margin: 61px 0px;
}
#mpay-img{
    width: 36px;
    vertical-align: middle;
}
.container-icon{
    vertical-align: middle;
}



.text2-1{
    color: #2d3238;
    font-size: 35px;
    text-align: center;
    padding-top: 55px;
}
.text2-2{
    color: #3a3238;
    font-size: 12px;
}
.text2-3{
    color: #2d3238;
    font-size: 42px;
    padding: 10px 0px;
}
.text2-4{
    color: #9da5ad;
    font-size: 14px;
    padding: 8px 0px 16px;
}
.text2-5{
    color: #4289db;
    font-size: 14px;
}




/* about saying ----------------------*/
#about-saying{
    width: 100%;
    height: 560px;
    background-color: #dde3eb;
}
.people{
    max-width: 996px;
    margin: 30px auto 0px;
}
.saying{
    width: 31.8%;
    height: 336px;
    background-color: #fff;
    border-left: solid 1px #d5dbe3;
    border-right: solid 1px #d5dbe3;
    border-radius: 5px 5px 0px 0px;
    margin: 0px 0.5%;
    float: left;
}
.saying-text{
    height: 174px;
    font-size: 14px;
    color: #b6bcc2;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 26px 26px 0px 26px;
}
.saying img{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    margin: 0px auto 16px;
}
.tittle-text{
    font-size: 14px;
    color: #333333;
    text-align: center;
}

.text3-1{
    color: #2d3238;
    font-size: 35px;
    text-align: center;
    padding-top: 80px;
}




/* begin -------------------------------*/
#begin{
    width: 100%;
    height: 320px;
    background-color: #2b3747;
    border-bottom: solid 1px #404c5b;
}
#begin p{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    padding: 86px 0px 55px;
}
#begin button{
    display: block;
    width: 350px;
    height: 70px;
    font-size: 22px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #444444;
    background-color: #4289db;
    border: 0px;
    border-radius: 5px;
    margin: 0px auto;
    box-shadow: 2px 2px 4px #333333;
    cursor: pointer;
}






/*footer部分-------------------------------------------------*/

footer{
    width: 100%;
    height: 450px;
    font-size: 14px;
    color: #979fa8;
    background-color: #252f3d;
}
.foot-container{
    max-width: 980px;
    height: 380px;
    padding-top: 70px;
    margin: 0px auto;
    position: relative;
}
.foot-left{
    width: 250px;
    height: 240px;
    border-right: solid 1px #3b4245;
    float: left;
}
.foot-left img{
    width: 190px;
}
.foot-left p{
    padding-top: 18px;
}
.icons .icon-weixin{
    font-size: 30px;
    padding: 16px 10px 0px 0px;
    float: left;
}
.icons .icon-weibo{
    font-size: 34px;
    padding: 14px 10px 0px 0px;
    float: left;
}
.icons .icon-zhihu{
    font-size: 24px;
    line-height: 34px;
    color: #252f3d;
    padding: 0px 3px;

}
.foot-icon{
    width: 31px;
    height: 31px;
    background-color: #979fa8;
    border-radius: 50%;
    float: left;
    margin: 17px 10px 0px 0px;
}



.foot-middle{
    width: 50%;
    height: 240px;
    border-right: solid 1px #3b4245;
    float: left;
}
.foot-middle div:first-child{
    width: 166px;
    margin-left: 64px;
    float: left;
}
.foot-middle div:last-child{
    float: left;
}
.foot-middle p{
    padding-bottom: 18px;
}



.foot-right{
    float: left;
    margin-left: 80px;
}
.foot-right img{
    width: 150px;
    height: 150px;
    margin-top: 18px;
}

.foot-container hr{
    height: 1px;
    background-color: #667280;
    margin: 70px 0px 24px;
    border: 0px;
}
.foot-container>img{
    width: 100px;
    float: left;
}
.foot-container .b-left{
    font-size: 13px;
    font-weight: lighter;
    margin-left: 10px;
    float: left;
}
.foot-container .b-right{
    font-size: 13px;
    font-weight: normal;
    margin-right: 10px;
    float: right;
}
.foot-container .select{
    width: 98px;
    height: 36px;
    text-indent: 1em;
    color: #ffffff;
    border: solid 1px #979ea8;
    border-radius: 3px;
    background-color: #252f3d;
    float: right;
    margin-top: -10px;
    cursor: pointer;
}




.text-size13{
    font-size: 13px;
}
.foot-text1{
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
.foot-text2{
    font-size: 14px;
    color: #979fa8;
    transition: color .2s;
}
.foot-text2:hover{
    font-size: 14px;
    color: #366fbd;
    transition: color .2s;
}




































